body {
    background-color: rgb(234, 234, 234);
}

h1 {
    color: red;
    font-size: 30px;
}

h2 {
    color: green;
    font-size: 20px;
}

div {
    background-color: rgb(183, 183, 183);
}

img {
    width: 200px;
}