body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(0, 0, 0);
}

.addnaam {
    border-bottom: outset;
    border-right: outset;
    width: 300px;
    margin: 1px;
    border-radius: 5px;
}

.submitbutton {
    width: 300px;
    margin: 1px;
    border-radius: 5px;
}

.addemail {
    border-bottom: outset;
    border-right: outset;
    width: 300px;
    margin: 1px;
    border-radius: 5px;
}

.addnumber {
    border-bottom: outset;
    border-right: outset;
    width: 300px;
    margin: 1px;
    border-radius: 5px;
}

.addpassword {
    border-bottom: outset;
    border-right: outset;
    width: 300px;
    margin: 1px;
    border-radius: 5px;
}