body {
    background-color: rgb(234, 234, 234);
}

div {
    background-color: green;
}

h1 {
    font-size: 50px;
    border-bottom: 1px solid;
    height: 80px;
}

header {
    display: block;
}

.p {
    border-bottom: 1px solid;
    height: 40px;
}

nav {
    text-align: center;
    background: green;
    display: block;
    font-size: 25px;
    margin: 10px;
}

img {
    width: 200px;
}